<section id="intro-wrap" class="intro-eight-Wrap text-white  text-center">
  <div class="container">
    <h1 class="text-center text-white text-center font-weight-bold font-italic t-shadow text-30">As you already know,
      who I am :)</h1>
    <p class="text-center text-center font-weight-bold font-italic t-shadow text-30">So languages which I speak is PHP
      and JavaScript</p>
    <p class="text-22 mb-4">
        I start making mobile games 5 years ago in Unity, then I fall in love with programming. 
        Since I wrote my first words {{ helloWorld }}, 
        I never stop learning and improving my self. 
        In last few years, I also start making websites, and mobile applications.
    </p>
    <p 
      *ngIf="!isOpen"
      class="lead mb-0">
      <button 
        class="font-weight-bold btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase"
        (click)="moreAboutMe()">
        More about me ...
      </button>
    </p>
  </div>
  <div>
    <div *ngIf="isOpen">
      <p class="text-20 mb-4">
          <p class="text-22 mb-4">I live in Serbia, and I from Novi Sad, and I am {{ years }} years old.
          Also I am father of one girl Nikolina and I have beautiful wife Danijela.
          </p>
          <p class="text-22 mb-4">
            Currently, I am working for Vivify Ideas where I have the opportunity to learn, 
            improve my self by my co-workers and working on big projects and learning work 
            in a team. I also always looking for new challenges where I can implement my knowledge and experiences on new projects

          </p>
      <!-- <p 
        *ngIf="isOpen"
        class="lead mb-0">
        <button
          class="font-weight-bold btn btn-outline-white btn-lg pl-5 pr-5 pb-2  mr-2 mb-4 text-uppercase"
          (click)="moreAboutMe()">
          Less about me ...
        </button>
      </p> -->
    </div>
  </div>
  <div class="overlay">
  </div>
</section>

<app-programming-pictures-component></app-programming-pictures-component>
