<section id="intro-wrap" class="blog-details-wrap">
  <!-- Header -->
  <div class="blog_header p-t-b-80 ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="mt-4 text-white">LeadTrekker</h1>
          <p class="lead text-white">
            LeadTrekker is app with testing React & Firebase
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="container p-t-b-80">

    <div class="row">

      <div class="col-lg-8">
        <!-- Post Content -->
        <p class="lead">
          <span class="font-weight-bold">LeadTrakker</span>
          is app build in in
          <span class="font-weight-bold">React</span>
          with <span class="font-weight-bold">MaterialUi</span>
          and <span class="font-weight-bold">Firebase</span>.
        </p>
        <p class="lead">
          In this app was testing how to connect React with Firebase, make registration and 
          login user with Firebase.
        </p>
        <p class="lead font-weight-bold">
          Also testing:
        </p>
        <p>
          - Reducer<br>
          - Saga<br>
          - Actions<br>
        </p>
        <hr>
      </div>

      <!-- end of col-8 -->
      <div class="col-md-4">
        <div class="card my-4">
          <div class="card-body">
            TECHNOLOGY
            <footer class="blockquote-footer">JavaScript with React</footer>
          </div>
          <ul>
            <li>
              <a href="https://github.com/Vladimir86ns/LeadTrekker" target="_blank">Git</a>
            </li>
            <li>
              <a href="http://lead-trekker.s3-website.us-east-2.amazonaws.com/" target="_blank">Demo</a>
            </li>
          </ul>
        </div>
        <!-- end of card widget -->
      </div>

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
