<div class="landing_wrap landing-gradient-purple-indigo">
  <section id="intro-wrap" class="blog-details-wrap">
    <div class="blog_header p-t-b-80 ">
      <!-- <img class="w-100 blog_header_img" src="./assets/images/landing/news/news1.jpg" alt=""> -->
      <div class="container">

        <div class="row">
          <div class="col-md-12 text-white">
            <h1 class="mt-4 text-white">JavaScript</h1>
            <p class="lead text-white">
              JavaScript is one of the core technologies of the World Wide Web. JavaScript enables
              interactive web pages and is an essential part of web applications.
            </p>
            <hr>
          </div>
        </div>
        <!-- row end -->

      </div>
    </div>



    <div class="container p-t-b-80">

      <div class="row">
        <div class="col-lg-8">
          <app-about-javascript *ngIf="selected === 'about'"></app-about-javascript>
          <app-variable-and-string *ngIf="selected === 'string_and_variables'"></app-variable-and-string>
          <app-numbers *ngIf="selected === 'numbers'"></app-numbers>
        </div>

        <!-- end of col-8 -->
        <div class="col-md-4">
          <div class="card my-4">
            <h5 class="card-header">JavaScript</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript - Basic</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a class="btn" (click)="displayCode('string_and_variables')">String And Variables</a>
                    </li>
                    <li>
                        <a class="btn" (click)="displayCode('numbers')">Numbers</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end of card widget -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

  </section>
</div>
