<div class="container">
  <div class="row text-center">
      <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='javascriptPicturePath' class="rounded-sm mt-1"  width="300" height="300">
      <h2>JavaScript</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='phpPicturePath' class="rounded-sm mt-1" width="300" height="300">
      <h2>PHP</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        <button class="btn btn-gradient">More...</button></p>
      </div>
  </div>
  <div class="row text-center">
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='htmlPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>HTML</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='cssPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>CSS</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='nodePicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>NodeJS</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='reactPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>React</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col" style="border: 1px solid; border-radius: 15px;">
      <img [src]='vuePicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>Vue</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='angularPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>Angular</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='laravelPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>Laravel</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='lumenPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>Lumen</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col" style="border: 0px solid; border-radius: 15px; margin: 7px">
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='mongoPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>MongoDB</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 1px solid; border-radius: 15px; margin: 7px">
      <img [src]='mySqlPicturePath' class="rounded-sm mt-1" width="200" height="200">
      <h2>MySQL</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh...
          <button class="btn btn-gradient">More...</button>
      </p>
    </div>
    <div class="col" style="border: 0px solid; border-radius: 15px; margin: 7px">
    </div>
  </div>
