<div class="container">
  <div class="row text-center">

    <div class="service-wrap col-md-6 col-lg-6 col-sm-6">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img [src]='javascriptPicturePath' class="rounded-sm mt-1">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">JavaScript</h2>
          <p class="card-text">
            JavaScript is the programming language of the web. You can use it to add dynamic behavior, store information, 
            and handle requests and responses on a website.
            JavaScript is my favorite languages, Most of project client side are made in JS.</p>
        </div>
        <!-- TODO display buttons when page are ready -->
        <!-- <div class="card-footer pl-3">
          <button routerLink="/javascript" class="btn btn-gradient">More...</button>
        </div> -->
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-6 col-sm-6">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img [src]='phpPicturePath' class="rounded-sm mt-1" width="300" height="300">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">PHP</h2>
          <p class="card-text">
            The PHP Hypertext Preprocessor (PHP) is a programming language that allows web developers to create dynamic content that interacts 
            with databases. Most of backend side I made it in PHP with Laravel and Lumen.
          </p>
        </div>
        <!-- TODO display buttons when page are ready -->
        <!-- <div class="card-footer pl-3">
          <button class="btn btn-gradient">More...</button>
        </div> -->
      </div>
    </div>

  </div>
  <!-- End of js and php -->

  <div class="row text-center">

    <!-- <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="htmlPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">HTML</h2>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="cssPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">CSS</h2>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div> -->

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="nodePicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">NodeJS</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="reactPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">React</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="vuePicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">Vue</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="angularPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">Angular</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

  </div>
  <!-- end of one row -->

  <div class="row text-center">

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="laravelPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">Laravel</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="lumenPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">Lumen</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="mongoPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">MongoDB</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>

    <div class="service-wrap col-md-6 col-lg-3 col-sm-12">
      <div class="card o-hidden mb-4">
        <div class="card-header p-0 text-center ">
          <img class="img-responsive" [src]="mySqlPicturePath">
        </div>
        <div class="card-body">
          <h2 class="card-title text-capitalize font-weight-bold ">MySQL</h2>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        </div>
      </div>
    </div>
    
  </div>
