<div class="col">
  <p>JavaScript has only one type of number. Numbers can be written with or without decimals.</p>
  <!-- Post Content -->
  <p class="lead">
    <h5 class="card-header"> Numbers
      <button class="btn btn-lg p-1 mr-1 text-dark" ngxClipboard [cbContent]="code">
        <span class="eva eva-link-2-outline"></span>
      </button>
    </h5>
    <pre><code [highlight]="code"></code></pre>
    <p>more about <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number">Numbers</a></p>
    <hr>
</div>
