<section id="intro-wrap" class="intro-eight-Wrap text-white  text-center">
  <div class="container">
    <h1 class="text-center text-white text-center font-weight-bold font-italic t-shadow text-50">
      Are you interested which projects I made?
    </h1>
    <p class="text-22 mb-4">
      In the past few years, I had the opportunity to work in some good projects.
      Here you can check projects which I made, and projects where I was part of them.
    </p>
  </div>
  <div class="overlay">
  </div>
</section>


<div class="container">
  <h1 class="text-center text-center font-weight-bold font-italic t-shadow text-50 mb-5">
    Projects where I am working as a team
  </h1>
  <div class="row text-center">
    <div class="col-sm">
      <div class="card mb-4 shadow-sm text-center">
        <h1 class="display-4 font-italic">Salarium</h1>
        <img class="img-thumbnail" width="100%" height="100%" [src]="salariumPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">
            Salarium is a successful Philippines startup that received its first round of the investment in 2014.
            It started as a Payroll app, and over the years Salarium increased the number of available features
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <!-- <button type="button" routerLink="/project/detail"class="btn btn-gradient">View</button> -->
              <button type="button" [routerLink]="['/project/detail', 'salarium']" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card mb-4 shadow-sm text-center">
        <h1 class="display-4 font-italic">Meridianbet</h1>
        <img class="img-thumbnail" width="100%" height="100%" [src]="merididanPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">
            Meridian is the leading licensed gambling operator in South-East Europe with fully developed
            business in all gambling sectors and channels with over 520 betting shops all over the world.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" [routerLink]="['/project/detail', 'meridian']" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="text-center text-center font-weight-bold font-italic t-shadow text-50 mb-5">Projects which I made</h1>
  <div class="row">

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-gradient">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h1 class="text-center text-center font-weight-bold font-italic t-shadow text-50 mb-5">Test projects</h1>
  <div class="row">
    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <h4 class="text-center display-8 font-weight-bold">LeadTrekker</h4>
          <img class="img-thumbnail float-right" width="100%" height="225" [src]="leadTrekker" alt="Generic placeholder image">
          <div class="card-body">
            <p class="card-text">
              React / Material-UI / Firebase<br>
            </p>
            <hr>
            <p>
              Testing how to connect React with Firebase.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button [routerLink]="['/project/detail', 'leadtrekker']" type="button" class="btn btn-gradient">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-gradient">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-thumbnail float-right" width="100%" height="225" [src]="nextProjectsPicturePath" alt="Generic placeholder image">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-gradient">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
