<section id="intro-wrap" class="blog-details-wrap">
    <!-- Header -->
    <div class="p-t-b-80" [ngStyle]="{'backgroundColor': '#42f47d'}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="intro-eight-Title font-weight-bold text-42 t-shadow mb-3 text-white">
                        Meridianbet
                    </h1>
                    <h1 class="text-white font-weight-bold t-shadow text-20">
                        Meridianbet - Sports betting and Casino application Developing front-end and back-end application for sports betting company.
                    </h1>
                </div>
            </div>
        </div>
    </div>
  
  
    <div class="container p-t-b-80">
  
        <div class="row">
  
            <div class="col-lg-8">
                <!-- Post Content -->
                <p class="lead">
                    Developing front-end and back-end application for sports betting company. The software is being used in over 35 countries all over the world.
                    This multi-site application is written using Angular6, Laravel5, SailsJS. 
                    We are constantly working on improvement, maintenance and optimization of application.
                </p>
                <hr>
                <p>From January 2019 and I am still on this project :)</p>
                <hr>
            </div>
  
            <!-- end of col-8 -->
            <div class="col-md-4">
                <div class="card my-4">
                    <div class="card-body">
                        ROLE
                        <footer class="blockquote-footer">Backend and Frontend</footer>
                    </div>
                    <div class="card-body">
                        TECHNOLOGY
                        <footer class="blockquote-footer">NodeJS with Sails</footer>
                        <footer class="blockquote-footer">JavaScript with Angular</footer>
                        <footer class="blockquote-footer">Php with Laravel</footer>
                    </div>
                </div>
                <!-- end of card widget -->
            </div>
  
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>