<section id="intro-wrap" class="blog-details-wrap">
    <!-- Header -->
    <div class="p-t-b-80" [ngStyle]="{'backgroundColor': '#42f47d'}">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-white">
            <div class="col-md-12 text-white">
                <h1 class="intro-eight-Title font-weight-bold text-42 t-shadow mb-3 text-white">
                    React Landing Page
                </h1>
                <h1 class="text-white font-weight-bold t-shadow text-20">
                    This Landing page is made in React with Bootstrap
                </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="container p-t-b-80">
  
      <div class="row">
  
        <div class="col-lg-8">
          <!-- Post Content -->
          <p class="lead">
            <span class="font-weight-bold">V Code</span>
            is app build in in
            <span class="font-weight-bold">React</span>
            with <span class="font-weight-bold">Bootstrap</span>
          </p>
          <hr>
        </div>
  
        <!-- end of col-8 -->
        <div class="col-md-4">
          <div class="card my-4">
            <div class="card-body">
              TECHNOLOGY
              <footer class="blockquote-footer">JavaScript with React</footer>
            </div>
            <ul>
              <li>
                <a href="http://react-bootstrap-landing-page.s3-website.us-east-2.amazonaws.com/" target="_blank">Demo</a>
              </li>
            </ul>
          </div>
          <!-- end of card widget -->
        </div>
  
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  