<!-- Post Content -->
<p class="lead">
  Since 2016 I start learning JavaScript, for building application I use frameworks
  <a href="https://angular.io/" target="_blank">Angular</a>,
  <a href="https://vuejs.org/" target="_blank">Vue</a>, and
  <a href="https://reactjs.org/" target="_blank">React</a> library,
  to make User Interface (UI).
  <br>
  If you want to start working as a web developer, you have to
  know JavaScript. And you can start with the basic staff.
  <br>
  When you want to practice online, you can use <a href="https://jsbin.com/" target="_blank">jsbin</a>
  <br>
  and make sure to put it on JavaScript and Console <br> as it is on picture:
  <img [src]="imagePath">
</p>
